<!--@{
    Layout = "_Layout"; // Avendo seguito le convenzioni dei nomi, questa viene cercata nella cartella Views>Shared, dobbiamo specificarla perché ci potrebbero essere più layout
}
-->
@model List<CourseViewModel>    // Rendiamo la View fortemente tipizzata (gli using sono stati spostati in _ViewImports)
<h1>Catalogo dei corsi</h1>

@foreach (CourseViewModel course in Model) // Inseriamo un'espressione C# in mezzo all'HTML, l'oggetto Model viene riconosciuto dall'annotazione iniziale
{
<hr/>
<div class="row course">
    <div class="col-md-1">  <!--Con md indichiamo che quando da smartphone gli elementi vanno uno sotto l'altro invece che di fianco come da desktop-->
        <img src="@course.ImagePath" width="52" height="52"/>
    </div>
    <div class="col-md-5"> <!--col-5 significa che gli diamo 5/12 spazi delle colonne disponibili-->
        <h2>@course.Title</h2>
        <author>di @course.Author</author>
    </div>
    <div class="col-md-2 rating" title="@course.Rating">    <!--L'attributo title indica cosa viene visualizzato quando si passa sopra l'elemento con il mouse-->
        @for(int i = 1; i<= 5; i++)
        {
            if(course.Rating >= i)
            {
                <i class="fas fa-star"></i>
            }
            else if(course.Rating > i-1){
                <i class="fas fa-star-half-alt"></i>
            }
            else {
                <i class="far fa-star"></i>
            }    
        }
    </div>
    <div class="col-md-2 price">
        @course.CurrentPrice
        @if (!course.CurrentPrice.Equals(course.FullPrice))
        {
            <br /><s>@course.FullPrice</s>
        }
    </div>
    <div class="col-md-2 d-flex align-items-center">  <!--Abbiamo utilizzato 12 spazi totali-->
        <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@course.Id">Dettaglio</a> <!--E' possibile omettere il controller a cui ci si riferisce se rimaniamo nello stesso contesto-->
    </div>
</div>
}